* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e7e7eb;
  font-family: "Inter", sans-serif;
}

#container {
  background-image: url(/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 5em;
}

header {
  margin-bottom: 3em;
}
header img {
  width: 15%;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 2em;
}

#resultChart {
  _width: 30%;
  margin: 0 auto;
  margin-bottom: 3em;
}

.resultHeadings {
  text-align: center;
  margin-bottom: 3em;
  line-height: 1.5;
}

.buttonRateUs {
  text-align: center;
}

.buttonRateUs button {
  width: 20%;
  height: 5em;
  background-color: transparent;
  border-color: white;
}

.chartContainer {
  position: relative;
  display: inline-block;
}

#chartText {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.padreProva {
  width: 100%;
  display: flex;
}

.prova {
  width: 33%;
}
