* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e7e7eb;
  font-family: "Inter", sans-serif;
}

#container {
  background-image: url(/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 5em;
}

header {
  margin-bottom: 3em;
}
header img {
  width: 15%;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 2em;
}

.resultHeadings {
  text-align: center;
  margin-bottom: 3em;
  line-height: 1.5;
}

.buttonRateUs {
  text-align: center;
}

.buttonRateUs button {
  width: 20%;
  height: 5em;
  background-color: transparent;
  border-color: white;
}

.chartContainer {
  position: relative;
  display: inline-block;
}

#chartText {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.padreProva {
  width: 100%;
  display: flex;
  margin-bottom: 3em;
}

.prova {
  width: 33%;
}

.correctAnswers {
  color: #01FFFF;
}

.wrongAnswers {
  color: #C2138D;
}
